* {
  font-family: Arial, 'Roboto', 'sans-serif';
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
.hidden {
  display: none !important;
}
.container {
  margin: 0 auto;
  max-width: 855px;
  width: 100%;
}
h1 {
  letter-spacing: -1.1px;
}

/* page */

/* content */

.content {
  display: inline-block;
  max-width: 600px;
}

.form__container {
  display: inline-block;
  padding: 30px 20px 0 20px;
  max-width: 600px;
  width: 100%;
  background-color: #f7d3d3;
  background-image: linear-gradient(#edd2d1 0%, #f7d3d3 20%, #feeae9 85%);
}

.form__container_footer {
  display: inline-block;
  padding: 20px 20px 30px 20px;
  max-width: 600px;
  width: 100%;
  background-color: #a5b0ce;
  background-image: linear-gradient(#d7cad8 0%, #a5b0ce 60%);
}

/* sidebar */

.sidebar {
  width: 175px;
}
.r-sidebar {
  float: right;
}
.sidebar .sidebar__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.sidebar p {
  margin: 5px 0;
  font-size: 13px;
  line-height: 18px;
}

/* form */

#form {

}
.js-form__item-container > .js-form__item {
  padding: 0 0 15px 0;
}
.js-form__item {

  display: block;
  font-size: 13px;
  line-height: 20px;
}
.js-form__item-container {
  position: relative;
  margin-bottom: 20px;
  max-width: 475px;
}
.js-form__item-container h3 {
  margin: 10px 0 10px 160px;
  letter-spacing: 0.5px;
}
.js-form__item select {
  padding: 4px 5px;
}
.js-form__item input {
  max-width: 300px;
  padding: 1px 8px;
  width: 100%;
  height: 25px;
  border: 0;
  box-shadow: inset 0px 1px 1px rgba(39, 39, 39, 0.25);
  font-size: 18px;
  line-height: 20px;
}
.js-form__item input[type="checkbox"] {
  position: absolute;
  margin: 2px 3px 5px 0;
  width: 15px;
  height: 15px;
  box-shadow: none;
}
.js-form__item input[type="checkbox"] ~ .js-form__item__label {
  margin-left: 20px;
  padding: 2px 0 0;
  max-width: 316px;
}
.form-item__label-check {
  margin-left: 20px;
  max-width: 316px;
}
.js-form__item input[type="radio"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  box-shadow: none;
}
.js-form__item input[type="radio"] ~ span {
  margin-left: 2px;
  margin-right: 5px;
  padding: 2px 0 0;
  max-width: 316px;
}
.js-form__item__content {
  max-width: 315px;
}
.js-form__item__content .js-wrong, .js-form__item__content .js-wrong {
  box-shadow: inset 0px 1px 1px rgba(39, 39, 39, 0.25), 0 0 0 1px red;
}
.js-form__item__content:not(.js-form__item__content_inline) select {
  max-width: 165px;
  width: 100%;
}

.js-form__item__label {
  display: inline-block;
  min-width: 154px;
  max-width: 155px;
}

.js-form__item_chk {
  margin-top: -9px;
}

.js-form__item__content-footer {
  margin: 10px 0 10px 160px;
  max-width: 316px;
}

#form-registration .js-form__item__submit {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  margin-top: 20px;
  max-width: 280px;
  width: 100%;
  border: 0;
  border-radius: 18px;
  background: #eee;
  box-shadow: 0px 4px 7px rgba(37, 40, 57, 0.27);
  text-shadow: 0 1px 0 #fff;
  font-weight: 900;
  letter-spacing: 1.2px;
  font-size: 23px;
  color: #A1A2A7;
  cursor: pointer;
  pointer-events: none;
  transition: .3s;
}
#form-registration .js-form__item__submit::before {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 10px);
  height: 45%;
  top: 5px;
  left: 5px;
  border-radius: 100px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.22));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.22));
  background-image:-moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.22));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.22));
  z-index: 1;
}

.js-form__item-label-agree {
  display: inline-block;
  margin-left: 20px;
  padding: 2px 0 0;
  max-width: 316px;
  min-width: 155px;
  font-size: 13px;
  line-height: 16px;
}
#form-item-final-chk {
  position: absolute;
  margin: 2px 3px 5px 0;
  width: 15px;
  height: 15px;
  box-shadow: none;
}

#form-item-final-chk:checked ~ #js-form-item-final-btn {
  background: linear-gradient(180deg, #F3CA44 0%, #EDC234 59.12%, #EEC337 88.95%, #F1D579 100%);
  box-shadow: 0px 4px 7px rgba(37, 40, 57, 0.27);
  color: #000;
  pointer-events: all;
}

.js-field-error {
  position: absolute;
  display: none;
  padding: 3px;
  padding-right: 20px;
  margin-left: calc(100% + 20px);
  width: 100%;
  width: max-content;
  width: -moz-fit-content;
  min-width: 80px;
  height: 20px;
  left: 0;
  border-radius: 1px 3px 3px 1px;
  background-color: #EB3B17;
  color: #fff;
  font-size: 13px;
}
.js-field-error::after {
  content: '';
  position: absolute;
  left: -29px;
  bottom: 0;
  border: 13px solid transparent;
  border-right: 16px solid #EB3B17;
}
.js-error .js-field-error {
  display: inline-block;
}


  /* animation */

#form-registration .js-slide-hide {
  padding-bottom: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

#form-registration #form-item-cln-chk:checked ~ .js-slide-hide {
  padding-top: 13px;
  height: 30px;
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 870px) {
  body {
    min-width: 650px;
  }
  h1 {
    text-align: center;
  }
  .content {
    display: block;
    margin: 0 auto;
    max-width: 640px;
  }
  .r-sidebar {
    display: none;
  }
}