* {
  font-family: Arial, 'Roboto', 'sans-serif';
  outline: none;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
.hidden {
  display: none !important;
}
.container {
  margin: 0 auto;
  max-width: 855px;
  width: 100%;
}
.page-title h1 {
  font-size: 30px;
}

/* The typing effect */

.typewriter {
  animation:
          typing 1.5s ease-out;
}

@keyframes typing {
  from { opacity: 0 }
  to { opacity: 1 }
}

/* The typewriter cursor effect */
/*@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }*/

/* page */

/* content */

.content {
  display: inline-block;
  max-width: 600px;
}

.form__container {
  display: inline-block;
  padding: 30px 20px 0 20px;
  max-width: 600px;
  width: 100%;
  background-color: #f7d3d3;
  background-image: linear-gradient(#edd2d1 0%, #f7d3d3 20%, #feeae9 85%);
}

.form__container_footer {
  display: inline-block;
  padding: 20px 20px 33px 20px;
  max-width: 600px;
  width: 100%;
  background-color: #a5b0ce;
  background-image: linear-gradient(#d7cad8 0%, #a5b0ce 60%);
}

.form__footer-content {
  margin-bottom: 75px;
  max-width: 55%;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: -0.01em;
  color: #000000;
}

/* sidebar */

.sidebar {
  width: 174px;
}
.r-sidebar {
  float: right;
}
.sidebar .sidebar__title {
  margin: 1px 0 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.sidebar p {
  margin: 3px 0;
  font-size: 13px;
  line-height: 18px;
}

/* form */

#form {

}
.js-form__item-container > .js-form__item {
  padding: 0 0 14.9px 0;
}
.js-form__item {

  display: block;
  font-size: 13px;
  line-height: 18px;
}
.js-form__item-container {
  position: relative;
  margin-bottom: 20.8px;
  max-width: 479px;
}
.js-form__item-container h3 {
  margin: 10px 0 12px 163px;
  letter-spacing: 0.55px;
}
.js-form__item select {
  padding: 4px 5px;
  min-height: 27px;
  height: 27px;
  font-size: 13px;
}
.js-form__item input {
  max-width: 305px;
  padding: 1px 4px;
  width: 100%;
  height: 25px;
  border: 0;
  box-shadow: inset 0px 1px 1px rgba(39, 39, 39, 0.25);
  font-size: 18px;
  line-height: 20px;
}
.js-form__item input::placeholder {
  color: #A9A9A9;
}
.js-form__item input[type="checkbox"] {
  position: absolute;
  margin: 2px 3px 5px 0;
  width: 15px;
  height: 15px;
  box-shadow: none;
}
.js-form__item input[type="checkbox"] ~ .js-form__item__label {
  margin-left: 20px;
  padding: 2px 0 0;
  max-width: 316px;
}
.form-item__label-check {
  margin-left: 18px;
  max-width: 316px;
  line-height: 19px;
}
.js-form__item input[type="radio"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  box-shadow: none;
}
.js-form__item input[type="radio"] ~ span {
  margin-left: 2px;
  margin-right: 5px;
  padding: 2px 0 0;
  max-width: 316px;
}
.js-form__item__content {
  max-width: 320px;
}
.js-form__item__content .js-wrong, .js-form__item__content .js-wrong {
  box-shadow: inset 0 0 0 1px red;
}
.js-form__item__content:not(.js-form__item__content_inline) select {
  max-width: 160px;
  width: 100%;
}

.js-form__item__label {
  display: inline-block;
  min-width: 158px;
  max-width: 158px;
  line-height: 17px;
  vertical-align: text-bottom;
}

.js-form__item_chk {
  margin-top: -13px;
}

.js-form__item__content-footer {
  margin: 10px 0 10px 160px;
  max-width: 335px;
}

#form-registration {
  margin-top: 23px;
}

#form-registration .js-form__item__submit {
  position: relative;
  display: inline-block;
  padding: 13.8px 20px;
  margin-top: 20px;
  max-width: 279px;
  width: 100%;
  border: 0;
  border-radius: 18px;
  background: #dedee4;
  box-shadow: 0px 4px 7px rgba(37, 40, 57, 0.27);
  text-shadow: 0 1px 0 #fff;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 23px;
  color: #A1A2A7;
  cursor: pointer;
  pointer-events: none;
}
#form-registration .js-form__item__submit::before {
  content: '';
  display: block;
  margin-top: -11px;
  margin-bottom: -14px;
  margin-left: -16px;
  margin-right: -16px;
  height: 24px;
  border-radius: 100px;
  background-image: linear-gradient(#EFEEF3, #E3E3E9);
  background-image: -webkit-linear-gradient(#EFEEF3, #E3E3E9);
  background-image: -moz-linear-gradient(#EFEEF3, #E3E3E9);
  background-image: -o-linear-gradient(#EFEEF3, #E3E3E9);
}

.js-submit-disibled {
  background: #dedee4 !important;
  color: #A1A2A7 !important;
  pointer-events: none !important;
}
.js-submit-disibled::before {
  background-image: linear-gradient(#EFEEF3, #E3E3E9) !important;
  background-image: -webkit-linear-gradient(#EFEEF3, #E3E3E9) !important;
  background-image: -moz-linear-gradient(#EFEEF3, #E3E3E9) !important;
  background-image: -o-linear-gradient(#EFEEF3, #E3E3E9) !important;
}

.js-form__item-label-agree {
  display: inline-block;
  margin-left: 20px;
  max-width: 316px;
  min-width: 155px;
  font-size: 13px;
  line-height: 16px;
}
#form-item-final-chk {
  position: absolute;
  margin: 0px 0px 0px 1px;
  width: 15px;
  height: 15px;
  box-shadow: none;
}

#form-item-final-chk:checked ~ #js-form-item-final-btn {
  background: linear-gradient(180deg, #F3CA44 0%, #EDC234 59.12%, #EEC337 88.95%, #F1D579 100%);
  box-shadow: 0px 4px 7px rgba(37, 40, 57, 0.27);
  color: #000;
  pointer-events: all;
}
#form-item-final-chk:checked ~ #js-form-item-final-btn::before {
  background: linear-gradient(#F3CA44, #F1D26E);
}

.js-field-error {
  position: absolute;
  display: none;
  padding: 3px;
  padding-right: 18px;
  margin-left: 20px;
  width: 100%;
  width: max-content;
  width: -moz-fit-content;
  min-width: 80px;
  height: 20px;
  border-radius: 1px 3px 3px 1px;
  background-color: #EB3B17;
  color: #fff;
  font-size: 13px;
  line-height: 1.5em;
}
.js-field-error::after {
  content: '';
  position: absolute;
  left: -29px;
  bottom: 0;
  border: 13px solid transparent;
  border-right: 16px solid #EB3B17;
}
.js-error .js-field-error {
  display: inline-block;
}

#error-exeption {
  margin-left: calc(50% + 120px);
  left: 0;
}


  /* animation */

#form-registration .js-slide-hide {
  padding-bottom: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
}

#form-registration #form-item-cln-chk:checked ~ .js-slide-hide {
  padding-top: 13px;
  height: 30px;
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 870px) {
  body {
    min-width: 650px;
  }
  .page-title h1 {
    text-align: left;
  }
  .page-title {
    display: block;
    margin: 0 auto;
    max-width: 640px;
  }
  .content {
    display: block;
    margin: 0 auto;
    max-width: 640px;
  }
  .container {
    display: table;
  }
  .r-sidebar {
    display: table-header-group;
    float: unset;
  }
  .form-content {
    margin-top: 20px;
  }
}


@media screen and (max-width: 680px) {
  body {
    margin: 0;
    min-width: 320px;
  }

  .js-form__item__label {
    display: block;
    margin-bottom: 5px;
  }

  #form {
    margin: 0 auto;
  }

  #form, .page-title h1 {
    max-width: 440px;
    width: 100%;
  }

  .page-title h1 {
    box-sizing: border-box;
    margin: 0.67em auto;
    padding: 0 10px;
  }

  .form__container, .form__container_footer {
    max-width: 400px;
    width: calc(100% - 40px);
  }

  .sidebar-content {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 440px;
    width: 100%;
  }

  .js-form__item__content-footer {
    margin: 10px auto 10px auto;
  }

  #form-registration .js-form__item__submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .js-form__item-container h3 {
    margin: 10px 0 10px 0;
  }

  .js-form__item input {
    max-width: calc(100% - 10px);
  }

  #form-registration #form-item-cln-chk:checked ~ .js-slide-hide {
    height: 50px;
  }

  .js-form__item__content-footer {
    max-width: 335px;
    width: 100%;
  }

  .js-field-error {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    width: calc(100% - 22px);
    border-radius: 0;
    height: auto;
  }
  .js-field-error::after {
    display: none;
  }

  #error-exeption {
    margin-top: 10px;
    margin-left: 0;
  }
}